<div class="mb-3">
  @if (label()) {
    <label [for]="id()" class="form-label">
      {{ label() }}
    </label>
  }

  @switch (type()) {
    @case ('select') {
      <select
        [id]="id()"
        [name]="name()"
        [class.is-invalid]="isInvalid()"
        [disabled]="disabled()"
        class="form-select"
        (change)="handleInput($event)"
        (blur)="handleBlur()"
      >
        @if (placeholder()) {
          <option value="" disabled selected>{{ placeholder() }}</option>
        }
        @for (opt of options(); track opt.value) {
          <option [value]="opt.value" [selected]="value() === opt.value">
            {{ opt.label }}
          </option>
        }
      </select>
    }

    @case ('textarea') {
      <textarea
        [id]="id()"
        [name]="name()"
        [placeholder]="placeholder()"
        [class.is-invalid]="isInvalid()"
        [disabled]="disabled()"
        [value]="value()"
        class="form-control"
        (input)="handleInput($event)"
        (blur)="handleBlur()"
      ></textarea>
    }

    @case ('checkbox') {
      <div class="form-check">
        <input
          type="checkbox"
          [id]="id()"
          [name]="name()"
          [class.is-invalid]="isInvalid()"
          [disabled]="disabled()"
          [checked]="value()"
          class="form-check-input"
          (change)="handleInput($event)"
          (blur)="handleBlur()"
        />
        @if (label()) {
          <label class="form-check-label" [for]="id()">
            {{ label() }}
          </label>
        }
      </div>
    }

    @case ('radio') {
      @for (opt of options(); track opt.value) {
        <div class="form-check">
          <input
            type="radio"
            [id]="id() + '-' + opt.value"
            [name]="name() || id()"
            [value]="opt.value"
            [checked]="value() === opt.value"
            [disabled]="disabled()"
            class="form-check-input"
            (change)="handleInput($event)"
            (blur)="handleBlur()"
          />
          <label class="form-check-label" [for]="id() + '-' + opt.value">
            {{ opt.label }}
          </label>
        </div>
      }
    }

    @default {
      <input
        [type]="type()"
        [id]="id()"
        [name]="name()"
        [placeholder]="placeholder()"
        [class.is-invalid]="isInvalid()"
        [disabled]="disabled()"
        [value]="value()"
        class="form-control"
        (input)="handleInput($event)"
        (blur)="handleBlur()"
      />
    }
  }

  @if (hint() && !isInvalid()) {
    <div class="form-text">{{ hint() }}</div>
  }

  @if (isInvalid()) {
    <div class="invalid-feedback">
      {{ error() }}
    </div>
  }
</div>
